<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mapper.TrainingMapper">

    <insert id="insert">
        insert into training (title, description, date)
        values (#{title}, #{description}, #{date})
    </insert>

    <update id="updateById">
        update training
        set title = #{title},
            description = #{description},
            date = #{date}
        where id = #{id}
    </update>

    <select id="selectAll" resultType="com.example.enetity.Training">
        SELECT * FROM training
        <where>
            <if test="titleCondition != null">
                OR title LIKE #{titleCondition}
            </if>
            <if test="dateCondition != null">
                OR DATE_FORMAT(date, '%Y-%m-%d') LIKE #{dateCondition}
            </if>
        </where>
        ORDER BY date DESC
    </select>
</mapper>